<div class="flex flex-col min-h-screen">
  <app-header />
  <app-navbar />
  <main class="flex-grow bg-slate-800  text-yellow-50 p-4">
    <p>Main</p>
    <router-outlet />
  </main>
  <footer class="text-center bg-slate-600 p-4 text-yellow-50">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam nesciunt, necessitatibus facilis ullam sequi rem dolor nemo repudiandae voluptatum similique inventore aliquam aliquid error a distinctio, optio quasi at eaque?</p>
  </footer>
</div>
